﻿@{
}
<!DOCTYPE HTML>
<html>
<head>
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/styles/statistics.css">
    <script src="/scripts/canvasjs.min.js"></script>
    @if (User.IsInRole("admin"))
    {
        <script>
            window.onload = function () {

                var chart = new CanvasJS.Chart("numberPeoplePassed", {
                    animationEnabled: true,
                    theme: "light2", 
                    backgroundColor: "#f4f4f8",
                    exportEnabled: true,
                    title: {
                        fontSize: 26,
                        text: "Число людей прошедших перепись"
                    },
                    data: [{
                        type: "line",
                        dataPoints: @Html.Raw(ViewBag.DataPointsNumberPeoplePassed)                         
                    }]
                });
                chart.render();


                var chart2 = new CanvasJS.Chart("registeredButNotPass", {
                    theme: "light1",
                    exportEnabled: true,
                    backgroundColor: "#f4f4f8",
                    animationEnabled: true,
                    title: {
                        fontSize: 26,
                        text: "Число людей которые проголосовали к числу людей которые  зарегистрировались но не прошли перепись"
                    },
                    data: [{
                        type: "pie",
                        startAngle: 180,
                        toolTipContent: "<b>{label}</b>: {y}",
                        showInLegend: "true",
                        legendText: "{label}",
                        indexLabel: "{label} - {y}",
                        dataPoints: @Html.Raw(ViewBag.RegisteredButNotPass)                         
                    }]
                });
                chart2.render();
                
                var chart3 = new CanvasJS.Chart("Education", {                
                    theme: "light1", 
                    exportEnabled: true,
                    backgroundColor: "#f4f4f8",
                    animationEnabled: true,
                    title: {
                        fontSize: 26,
                        text: "Образование"
                    },
                    data: [{
                        type: "column",
                        dataPoints: @Html.Raw(ViewBag.Education)
                    }]
                });
                chart3.render();

                var chart4 = new CanvasJS.Chart("canWriteAndRead", {
                    theme: "light1", 
                    exportEnabled: true,
                    backgroundColor: "#f4f4f8",
                    animationEnabled: true,
                    title: {
                        fontSize: 26,
                        text: "Число людей которые умеют читать"
                    },
                    data: [{
                        type: "pie",
                        startAngle: 180,
                        toolTipContent: "<b>{label}</b>: {y}",
                        showInLegend: "true",
                        legendText: "{label}",
                        indexLabel: "{label} - {y}",
                        dataPoints: @Html.Raw(ViewBag.CanWriteAndRead)
                                }]
                });
                chart4.render();

                var chart5 = new CanvasJS.Chart("HaveDegree", {
                    theme: "light1",
                    exportEnabled: true,
                    backgroundColor: "#f4f4f8",
                    animationEnabled: true,
                    title: {
                        fontSize: 26,
                        text: "Число людей у которых есть учённая степень"
                    },
                    data: [{
                        type: "pie",
                        startAngle: 180,
                        toolTipContent: "<b>{label}</b>: {y}",
                        showInLegend: "true",
                        legendText: "{label}",
                        indexLabel: "{label} - {y}",
                        dataPoints: @Html.Raw(ViewBag.HaveDegree)                              
                    }]
                });
                chart5.render();

                var chart6 = new CanvasJS.Chart("Nationality", {
                    theme: "light1", 
                    exportEnabled: true,
                    backgroundColor: "#f4f4f8",
                    animationEnabled: true,
                    title: {
                        fontSize: 26,
                        text: "Национальность"
                    },
                    data: [{
                        type: "column",
                        dataPoints: @Html.Raw(ViewBag.Nationality)                             
                    }]
                });
                chart6.render();

                var chart7 = new CanvasJS.Chart("LivedOtherCountries", {
                    theme: "light1", 
                    exportEnabled: true,
                    backgroundColor: "#f4f4f8",
                    animationEnabled: true,
                    title: {
                        fontSize: 26,
                        text: "Число людей которые вернулись или прибыли в РФ к числу людей который всегда жили в РФ"
                    },
                    data: [{
                        type: "pie",
                        startAngle: 180,
                        toolTipContent: "<b>{label}</b>: {y}",
                        showInLegend: "true",
                        legendText: "{label}",
                        indexLabel: "{label} - {y}",
                        dataPoints: @Html.Raw(ViewBag.LivedOtherCountries)                            
                    }]
                });
                chart7.render();

                var chart8 = new CanvasJS.Chart("WhereLiveBeforeArriving", {
                    theme: "light1", 
                    exportEnabled: true,
                    backgroundColor: "#f4f4f8",
                    animationEnabled: true,
                    title: {
                        fontSize: 26,
                        text: "Страны в которых жили люди до прибытия в рф"
                    },
                    data: [{
                        type: "column",
                        dataPoints: @Html.Raw(ViewBag.WhereLiveBeforeArriving)                           
                    }]
                });
                chart8.render();

                var chart9 = new CanvasJS.Chart("Gender", {
                    theme: "light1",
                    exportEnabled: true,
                    backgroundColor: "#f4f4f8",
                    animationEnabled: true,
                    title: {
                        fontSize: 26,
                        text: "Количетсво мужчин к количеству женщин"
                    },
                    data: [{
                        type: "pie",
                        startAngle: 180,
                        toolTipContent: "<b>{label}</b>: {y}",
                        showInLegend: "true",
                        legendText: "{label}",
                        indexLabel: "{label} - {y}",
                        dataPoints: @Html.Raw(ViewBag.Gender)                                
                    }]
                });
                chart9.render();

                var chart10 = new CanvasJS.Chart("MaritalStatus", {
                    theme: "light1",
                    exportEnabled: true,
                    backgroundColor: "#f4f4f8",
                    animationEnabled: true,
                    title: {
                        fontSize: 26,
                        text: "Состояние в браке"
                    },
                    axisX: {
                        lineThickness: 0
                    },
                    axisY: {
                        valueFormatString: " ",
                        includeZero: true,
                        gridThickness: 0,
                        tickLength: 0
                    },
                    data: [{
                        type: "bar",
                        indexLabel: "{y}",
                        dataPoints: @Html.Raw(ViewBag.MaritalStatus)
                              
                    }]
                });
                chart10.render();

                var chart11 = new CanvasJS.Chart("State", {
                    theme: "light1",
                    exportEnabled: true,
                    backgroundColor: "#f4f4f8",
                    animationEnabled: true,
                    title: {
                        fontSize: 26,
                        text: "Районы"
                    },
                    axisX: {
                        lineThickness: 0
                    },
                    axisY: {
                        valueFormatString: " ",
                        includeZero: true,
                        gridThickness: 0,
                        tickLength: 0
                    },
                    data: [{
                        type: "bar",
                        indexLabel: "{y}",
                        dataPoints: @Html.Raw(ViewBag.State)

                                }]
                });
                chart11.render();
            }
        </script>
    }
    else
    {
        <script>
            window.onload = function () {

                var chart = new CanvasJS.Chart("numberPeoplePassed", {
                    animationEnabled: true,
                    theme: "light2",
                    backgroundColor: "#f4f4f8",
                    exportEnabled: true,
                    title: {
                        text: "Число людей прошедший перепись",
                        titleFontSize: 16
                    },
                    data: [{
                        type: "line",
                        dataPoints: @Html.Raw(ViewBag.DataPointsNumberPeoplePassed)                        
                    }]
                });
                chart.render();
            }
        </script>
    }
</head>
<body>
    <div class="containner">
        <div id="numberPeoplePassed" class="mt-80 chart-first"></div>
        @if (User.IsInRole("admin"))
        {
            <div class="chart" id="registeredButNotPass"></div>
            <div class="chart" id="Education"></div>
            <div class="chart" id="HaveDegree"></div>
            <div class="chart" id="canWriteAndRead"></div>
            <div class="chart" id="Nationality"></div>
            <div class="chart" id="LivedOtherCountries"></div>
            <div class="chart" id="WhereLiveBeforeArriving"></div>
            <div class="chart" id="Gender"></div>
            <div class="chart" id="MaritalStatus"></div>
            <div class="chart mb-60" id="State"></div>

        }
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
</body>
</html>