@using PopulationCensus.Infrastructure
@using PopulationСensus.Domain.Entities
@model ResidentCatalogViewModel
@{
    List<(int, int)> listGender = new List<(int, int)>();
    listGender.Add((1, 2312));
    listGender.Add((2, 31312));

}
<head>
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/styles/result-census.css">
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/bootstrap-multiselect.js"></script>
    <link href="~/css/bootstrap-multiselect.css" rel="stylesheet" />
    <title>Результаты переписи </title>
</head>
<body>
    <div class="main-content ">
        <div class="container">
            <br />
            <div class="main-content-card">
                <div class="row">
                    <div class="searchbar">
                        <form method="POST">
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Пол</label>
                                        <div class="">
                                            <select asp-for="Gender" class="form-control" name="gender">
                                                <option selected value="allGender">Все</option>
                                                <option value="True">Женщина</option>
                                                <option value="False">Мужчина</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Количество детей</label>
                                        <select asp-for="NumberChildrenBorn" class="form-control" name="numberChildrenBorn" asp-items="Model.NumberChildrenBornSelectList">
                                            <option selected value="98">Все</option>
                                            <option value="101">Многодетные</option>
                                            <option value="99">Бездетные</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Образование</label>
                                        <div class="">
                                            <select asp-for="Education" class="form-control" name="education">
                                                <option selected="selected" value="allEducation">Все</option>
                                                <option>Отсутствует</option>
                                                <option>Общее</option>
                                                <option>Средне профессиональное</option>
                                                <option>Высшее</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Район</label>
                                        <div class="">
                                            <select asp-for="State" class="form-control" name="state" asp-items="Model.StateSelectList">
                                                <option selected="selected" value="allState">Все</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Родной язык</label>
                                        <div class="">
                                            <select asp-for="NativeLanguage" class="form-control" name="nativeLanguage" asp-items="Model.NativeLanguageSelectList">
                                                <option selected="selected" value="allNativeLanguage">Все</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Гражданство</label>
                                        <div class="">
                                            <select asp-for="Citizenship" class="form-control" name="citizenship" asp-items="Model.CitizenshipSelectList">
                                                <option selected="selected" value="allCitizenship">Все</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Нациальность</label>
                                        <div class="">
                                            <select asp-for="Nationality" class="form-control" name="nationality" asp-items="Model.NationalitySelectList">
                                                <option selected="selected" value="allNationality">Все</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Получают ли образование</label>
                                        <div class="">
                                            <select asp-for="GettingEducation" class="form-control" name="gettingEducation">
                                                <option value="allGettingEducation" selected>Все</option>
                                                <option value="Не получаю образование">Не получают образование </option>
                                                <option>Основные профессиональные программы</option>
                                                <option>Дополнительные образовательные программы</option>
                                                <option>Программы общего образования</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Источник средств к существованию</label>
                                        <div class="">
                                            <select asp-for="SourcesOfLiveliHood" class="form-control" name="sourcesOfLiveliHood">
                                                <option value="allSourcesOfLiveliHood" selected>Все</option>
                                                <option>Не имею источник средств к существованию</option>
                                                <option>Заработная плата</option>
                                                <option>Предпринимательский доход, самозанятость</option>
                                                <option>Производство товаров для собственного использования</option>
                                                <option>Сдача в аренду имущества</option>
                                                <option>Доход от патентов, авторских прав</option>
                                                <option>Сбережения, дивиденды, проценты, ссуды, реализация капитала</option>
                                                <option>Пенсия (кроме пенсии по инвалидности)</option>
                                                <option>Пенсия по инвалидности</option>
                                                <option>Стипендия</option>
                                                <option>Пособие по безработице</option>
                                                <option>Другие пособия и выппаты от организаций, государства</option>
                                                <option>Льготы, компенсации, субсидии, выигрыши</option>
                                                <option>Обеспечение со стороны других лиц, иждивение иной источник</option>
                                                <option>Иной источник</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Кем вы являлись на работе</label>
                                        <div class="">
                                            <select asp-for="WhoWereMainJob" class="form-control" name="whoWereMainJob">
                                                <option value="allWhoWereMainJob" selected>Все</option>
                                                <option>Работающий по найму</option>
                                                <option>Владелец (совладелец) собственного предприятия (дела) </option>
                                                <option>Индивидуальный предприниматель</option>
                                                <option>Самозанятый</option>
                                                <option>Помогающий на семейном предприятии</option>
                                                <option>Иное</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Тип жилища</label>
                                        <div class="">
                                            <select asp-for="TypeOfDwelling" class="form-control" name="typeOfDwelling">
                                                <option value="allTypeOfDwelling" selected>Все</option>
                                                <option>Индивидуальный дом</option>
                                                <option>Общежитие</option>
                                                <option>Отдельная квартира</option>
                                                <option>Гостиница</option>
                                                <option>Коммунальная квартира</option>
                                                <option>Другое жилище</option>
                                                <option>Бездомный</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Отопление</label>
                                        <div class="">
                                            <select asp-for="Heating" class="form-control" name="heating">
                                                <option value="allHeating" selected>Все</option>
                                                <option>Централизованное</option>
                                                <option>От индивидуальных установок, котлов</option>
                                                <option>Печное</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Водоснабжение</label>
                                        <div class="">
                                            <select asp-for="WaterSupply" class="form-control" name="waterSupply">
                                                <option value="allWaterSupply" selected>Все</option>
                                                <option>Централизонаннам система холодного водоснабжения</option>
                                                <option>Индивидуальная система одоснабжения</option>
                                                <option>Водоснабжение вне жилица, колонка </option>
                                                <option>Колодец, скважина или другой источник водоснабжения</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Горячие водоснабжение</label>
                                        <div class="">
                                            <select asp-for="HotWaterSupply" class="form-control" name="hotWaterSupply">
                                                <option value="allHotWaterSupply" selected>Все</option>
                                                <option>Централизованное</option>
                                                <option>От индивидуальных водонагревателей </option>
                                                <option>Горячее водоснабжение отсутствует</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Водоотведение(канализация)</label>
                                        <div class="">
                                            <select asp-for="WaterDisposalSewerage" class="form-control" name="waterDisposalSewerage">
                                                <option value="allWaterDisposalSewerage" selected>Все</option>
                                                <option>Централизованная система</option>
                                                <option>Индивидуальная система (включая септик)</option>
                                                <option>Через систему труб выгребные ямы и т.п.</option>
                                                <option>Водоотведение (канализация) отсутствует</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Удаление бытовых отходов</label>
                                        <div class="">
                                            <select asp-for="DisposalOfHouseholdWaste" class="form-control" name="disposalOfHouseholdWaste">
                                                <option value="allDisposalOfHouseholdWaste" selected>Все</option>
                                                <option>Мусоропровод</option>
                                                <option>Мусоросборники вне дома</option>
                                                <option>Сбор мусора спецмашиной </option>
                                                <option>Выброс мусора в ямы, на кучи и т.п.</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Начальная дата</label>
                                        <div class="">
                                            <input asp-for="DateFirst" name="dateFirst">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Конечная дата</label>
                                        <div class="">
                                            <input asp-for="DateSecond" name="dateSecond">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Начальный возраст</label>
                                        <div class="">
                                            <select asp-for="AgeStartId" class="form-control" name="ageStart" asp-items="Model.AgeStartSelectList">
                                                <option selected="selected" value="199">Все</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Конечный возраст</label>
                                        <div class="">
                                            <select asp-for="AgeEndId" class="form-control" name="ageEnd" asp-items="Model.AgeEndSelectList">
                                                <option selected="selected" value="199">Все</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="float-end">
                                <label>Количество ответов подходящих под выборку: <b>@ViewBag.enumerator</b></label>
                                <div><label>@ViewBag.date</label></></div>
                                <div><label>@ViewBag.age</label></></div>
                            </div>
                            <div class="text-danger" asp-validation-summary="All"></div>
                            <div class="text-danger" asp-validation-summary="None">@ViewBag.modelError</div>
                            <button class="btn-block main-btn btn-primary" type="submit">Сделать выборку</button>
                        </form>
                    </div>

                    <table class="table table-striped table-bordered main-content-table">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ФИО</th>
                                <th scope="col">Возраст</th>
                                <th scope="col">Д участия</th>
                                <th scope="col">Адресс</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;

                                foreach (User resident in Model.User.OrderBy(x => x.UserAnswer.Date))
                                {
                                    @if (@resident.UserAnswerId != null)
                                    {
                                        i++;
                                        int yearOfBirth = CalculateAge.CalculateAgeYear(resident.DateOfBirth,DateTime.Now);
                                        <tr>
                                            <td>@i</td>
                                            <td>@resident.FullName</td>
                                            <td>@yearOfBirth</td>
                                            <td>@resident.UserAnswer.Date.ToShortDateString()</td>
                                            <td class="d-flex justify-content-between">
                                                @resident.Address.State
                                                @resident.Address.Street @resident.Address.ApartmentNumber @resident.Address.ZipCode

                                                <form>
                                                    <div class="d-flex justify-content-end">
                                                        <a asp-action="ViewingUserAnswer" asp-controller="Census" asp-route-userAnswerId="@resident.UserAnswerId">
                                                            <img id="view-icon-image" src="/images/view-icon.png" />
                                                        </a>
                                                    </div>
                                                </form>

                                            </td>
                                        </tr>
                                    }
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>



    </script>
    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
            $(function () {
                $('#Country').multiselect({
                    includeSelectAllOption: true,
                });
            });
        </script>
    }
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
</body>