@using PopulationСensus.Domain.Entities
@model ResidentCatalogViewModel
@{
}
<head>
   <link rel="shortcut icon" href="/favicon.png" type="image/png">
   <link rel="stylesheet" href="/styles/result-census.css">
   <meta name="viewport" content="width=device-width" />
   <title>@ViewBag.Title</title>
</head>
<body>
   <div class="main-content">
      <div class="container">
         </br>
         <div class="main-content-card">
            <div class="row">
               <div class="searchbar">
                  <form>
                     <label >Поиск:</label>
                     <input name="searchstring" type="text" onchange="submitForm()" />
                  </form>
               </div>
               <table class="table table-striped table-bordered main-content-table">
                  <thead class="table-dark">
                     <tr>
                        <th scope="col">#</th>
                        <th scope="col">ФИО</th>
                        <th scope="col">Дата рождения</th>
                        <th scope="col">Адресс</th>
                     </tr>
                  </thead>
                  <tbody>
                        @{
                           int i = 0;
                           foreach (User resident in Model.User)
                           {
                             i++;
                             <tr>
                               <td>@i</td>
                               <td>@resident.FullName</td>
                               <td>@resident.DateOfBirth.ToShortDateString()</td>
                               <td>@resident.Address.State @resident.Address.City @resident.Address.Street @resident.Address.ApartmentNumber @resident.Address.ZipCode </td>
                             </tr>
                           }
                        }             
               </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   <script>
      function submitForm() {
          document.querySelector('form').submit();
      }
   </script>
</body>