@using PopulationСensus.Domain.Entities
@model ResidentCatalogViewModel
@{
    List<(int, int)> listGender = new List<(int, int)>();
    listGender.Add((1, 2312));
    listGender.Add((2, 31312));
}
<head>
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/styles/result-census.css">
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/bootstrap-multiselect.js"></script>
    <link href="~/css/bootstrap-multiselect.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="main-content ">
        <div class="container">
            <br />
            <div class="main-content-card">
                <div class="row">
                    <div class="searchbar">
                        <form method="POST">
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Пол</label>
                                        <div class="">
                                            <select class="form-control" name="gender">
                                                <option value="True">Женщина</option>
                                                <option value="False">Мужчина</option>
                                                <option selected="selected" value="allGender">Все</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Умееют писать или читать</label>
                                        <div class="">
                                            <select class="form-control" name="canReadAndWrite">
                                                <option value="True">Умеют писать и читать</option>
                                                <option value="False">Не умеют писать и читать</option>
                                                <option selected="selected" value="AllCanReadAndWrite">Все</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Есть учённая степень</label>
                                        <div class="">
                                            <select name="haveDegree" class="form-control">
                                                <option value="True">Да</option>
                                                <option value="False">Нет</option>
                                                <option selected="selected" value="allHaveDegree">Все</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Количество жильцов в домохозайстве</label>
                                        <input name="CountPeopleLivingHousehold" id="CountPeopleLivingHousehold">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Количество детей</label>
                                        <input name="numberChildrenBorn" id="numberChildrenBorn">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Место рождения</label>
                                        <div class="">
                                            <select class="form-control" name="placeBirth" asp-items="Model.UserAnswersSelectList">
                                                <option selected="selected" value="allPlaceBirth">Все</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Жили ли в других странах более года</label>
                                        <div class="">
                                            <select name="livedOtherCountries" class="form-control">
                                                <option value="True">Да</option>
                                                <option value="False">Нет</option>
                                                <option selected="selected" value="allLivedOtherCountries">Все</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Страны в которых жили люди до прибытия</label>
                                        <div class="">
                                            <select class="form-control" name="whereLiveBeforeArriving" asp-items="Model.WhereLiveBeforeArrivingSelectList">
                                                <option selected="selected" value="allWhereLiveBeforeArriving">Все</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Говорят по русски</label>
                                        <div class="">
                                            <select name="speakRussian" class="form-control">
                                                <option value="True">Да</option>
                                                <option value="False">Нет</option>
                                                <option selected="selected" value="allSpeakRussian">Все</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Район</label>
                                        <div class="">
                                            <select class="form-control" name="state" asp-items="Model.State">
                                                    <option selected="selected" value="allState">Все</option>
                                                </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Родной язык</label>
                                        <div class="">
                                            <select class="form-control" name="nativeLanguage" asp-items="Model.NativeLanguage">
                                                <option selected="selected" value="allNativeLanguage">Все</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Гражданство</label>
                                        <div class="">
                                            <select class="form-control" name="citizenship" asp-items="Model.Citizenship">
                                                <option selected="selected" value="allCitizenship">Все</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Нациальность</label>
                                        <div class="">
                                            <select class="form-control" name="nationality" asp-items="Model.Nationality">
                                                <option selected="selected" value="allNationality">Все</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Начальная дата</label>
                                        <div class="">
                                            <input asp-for="DateFirst" name="dateFirst">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex">
                                    <div class="input-group">
                                        <label class="form-control-label col-md-12 px-0">Конечная дата</label>
                                        <div class="">
                                            <input asp-for="DateSecond" name="dateSecond">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="float-end">
                                <label>Количество ответов подходящих под выборку: <b>@ViewBag.enumerator</b></label>
                                <div><label>@ViewBag.date</label></></div>
                            </div>
                            <div class="text-danger" asp-validation-summary="All"></div>
                            <div class="text-danger" asp-validation-summary="None">@ViewBag.modelError</div>
                            <button class="btn-block main-btn btn-primary" type="submit">Сделать выборку</button>
                        </form>
                    </div>

                    <table class="table table-striped table-bordered main-content-table">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ФИО</th>
                                <th scope="col">Д участия</th>
                                <th scope="col">Адресс</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;
                                foreach (User resident in Model.User.OrderBy(x => x.UserAnswer.Date))
                                {
                                    @if (@resident.UserAnswerId != null)
                                    {
                                        i++;
                                        <tr>
                                            <td>@i</td>
                                            <td>@resident.FullName</td>
                                            <td>@resident.UserAnswer.Date.ToShortDateString()</td>
                                            <td class="d-flex justify-content-between">
                                                @resident.Address.State 
                                                @resident.Address.Street @resident.Address.ApartmentNumber @resident.Address.ZipCode

                                                <form>
                                                    <div class="d-flex justify-content-end">
                                                        <a asp-action="ViewingUserAnswer" asp-controller="Census" asp-route-userAnswerId="@resident.UserAnswerId">
                                                            <img id="view-icon-image" src="/images/view-icon.png" />
                                                        </a>
                                                    </div>
                                                </form>

                                            </td>
                                        </tr>
                                    }
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>



    </script>
    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
            $(function () {
                $('#Country').multiselect({
                    includeSelectAllOption: true,
                });
            });
        </script>
    }
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
</body>